body{
    width: 1200px;
    background-color: rgb(34, 39, 42);
     font-family: 'Quicksand', sans-serif;
     
}
.input-display{
    width: auto;
    height: 40px;
    /* background-color:white; */
    font-size: 21px;
    text-align: right;
    padding-right: 15px;
    padding-top: 13px;    
}
.output-display{
    width: auto;
    height: 52px;
    /* background-color: white; */
    font-size: 35px;
    text-align: right;
    padding-right: 15px;
    padding-top: 20px;
}
.row{
   color: white; 
    display: flex;
    
    
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
    background-color: #fff;  
    box-shadow: 1px 1px 35px 33px rgb(18, 18, 21); 
    border-radius: 10px;
    overflow: hidden;
} 
.batton{
     border-left: 0.1px rgba(128, 127, 128, 0.2) solid ; 
     border-top: 0.1px rgba(128, 127, 128, 0.2) solid;
     font-size: 17px;
     height: 48px;
     width: 54px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(31, 35, 38);
     transition: background-color .35s;
     
}
.batton-parpol {
    background-color:rgb(95, 75, 182);
    border-right: 1px solid rgba(95, 75, 182, 0.2);
}
.row:last-child .batton{
    border-bottom:1px rgba(128, 127, 128, 0.2) solid ;
    
}
.batton-yellow{
    background-color:rgb(255, 194, 1);
    color: black;
    border-right:1px rgba(255, 194, 1, 0.2) solid;
}
.batton:hover{
    background-color:rgb(18, 21, 23);
    cursor: pointer;
}
.batton-parpol:hover{
    background-color: rgb(75, 49, 184);
}
.batton-yellow:hover{
    background-color:rgb(251, 212, 90);
}